:root {
    --light-green: #6cdfca;
    --green: #00dab2;
    --dark-green: #4dc0b5;
    --dark-blue: #394c64;
    --darker-blue: #212d3e;
    --white: #fff;
    --light-white: #92a3b6;
    --grey: #4c5c71;
    --light-purple: #6a85b6;
    --light-orange: #ebbba7;
    --green-white: #cdfff0;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--white);
}

.login {
    height: 100vh;
    min-height: 680px;
    padding: 60px 40px;
}

.shadow {
    -webkit-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.71);
    -moz-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.71);
    box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.71);
}

.greenBackground {
    background: var(--light-green); /* Old Browsers */
    background: -webkit-linear-gradient(top, var(--light-green), var(--dark-green)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, var(--light-green), var(--dark-green)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, var(--light-green), var(--dark-green)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, var(--light-green), var(--dark-green)); /*Standard*/
}

.mainBackground {
    background: var(--light-purple); /* Old Browsers */
    background: -webkit-linear-gradient(top, var(--light-purple), var(--light-orange)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, var(--light-purple), var(--light-orange)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, var(--light-purple), var(--light-orange)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, var(--light-purple), var(--light-orange)); /*Standard*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blueBackground {
    background: var(--dark-blue); /* Old Browsers */
    background: -webkit-linear-gradient(top, var(--dark-blue), var(--darker-blue)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, var(--dark-blue), var(--darker-blue)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, var(--dark-blue), var(--darker-blue)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, var(--dark-blue), var(--darker-blue)); /*Standard*/
}

.pill {
    margin: 10px 0;
    font-size: 12px;
    border-radius: 0;
    cursor: pointer;
}

.radiusLeft {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.radiusRight {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rocket {
    background: url(rocket.svg) center 60% no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.rocket h5 {
    padding-top: 100px;
    color: var(--green-white);
    font-weight: normal;
    font-size: 18px;
}

.beer {
    position: absolute;
    top: 10px;
    background: url(beer.svg) no-repeat;
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
}

.btn-secondary {
    background-color: var(--grey);
    border-color: var(--grey);
    color: var(--light-white)
}

.btn-primary, .btn:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
}

.btn-primary {
    -webkit-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.71);
    -moz-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.71);
    box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.71);
}

.formLogin {
    padding: 30px 50px;
}

.formLogin h5 {
    font-weight: 200;
    padding: 20px 0 5px 0;
    cursor: pointer;
}

.formLogin h5.inactive {
    opacity: 0.6;
}

.formLogin h5.active, .formLogin h5:hover {
    border-bottom: 1px solid var(--green);
    opacity: 1;
}

.formContainer {
    clear: both;
    padding-top: 15px;
}

.formContainer .btn-primary {
    border-radius: 30px;
    font-size: 12px;
    padding: 7px 30px;
    cursor: pointer;
}

.formContainer input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--grey);
    width: 100%;
    font-size: 12px;
    padding: 0 0 5px 0;
    outline: 0;
    color: var(--light-white)
}

.formContainer input:focus {
    border-color: var(--green);
}

.formContainer label {
    display: block;
    font-size: 12px;
    padding: 0 0 5px 0;
    margin: 25px 0 0 0;
    opacity: 0.8;
}

.formContainer label:first-child {
    margin: 0;
}

span.meta {
    margin: 20px 15px;
    opacity: 0.6;
    font-weight: 200;
}

span.highlight {
    font-size: 12px;
    color: var(--light-white);
    margin-left: 15px;
    border-bottom: 1px solid var(--green);
    cursor: pointer;
    padding-bottom: 5px;
}

span.highlight:hover {
    color: var(--white);
}

.disclaimer {
    margin-top: 20px;
}

.disclaimer span {
    font-size: 12px;
    padding: 0 0 5px 10px;
    color: var(--light-white);
}

.disclaimer span.highlight {
    color: var(--white);
    padding-left: 0;
    margin-left: 3px;
}

.checkboxStyle {
    width: 20px;
    position: relative;
    float: left;
    margin-top: 4px;
}

.checkboxStyle label {
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    margin: 0;
    background: var(--light-green);
}

.checkboxStyle label:after {
    opacity: 0.7;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 3px solid var(--white);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.checkboxStyle label:hover::after {
    opacity: 1;
}

.checkboxStyle label:hover {
    background: var(--green);
}

.checkboxStyle input[type=checkbox]:checked + label, .checkboxStyle input[type=checkbox]:checked + label:after {
    opacity: 1;
    background: var(--green);
}

.checkboxStyle input {
    display: none;
}

@media only screen and (max-width: 768px) {
    .col-sm-12.radiusRight {
        border-radius: 10px;
    }

    .container-fluid {
        padding: 0;
    }
}