html, body {
    font-family: Lato, Helvetica, Arial;
}

:root {
    --light-purple: #454389;
    --accent-purple: #7673c0;
    --dark-purple: #5454fb;
    --darkest-purple: #343268;
    --mid-grey: #f3f3f8;
    --dark-grey: #ccccd9;
    --grey-accent: #9098b1;
    --white: #ffffff;
    --red: #ff3463;
    --green: #5ac489;
    --yellow: #ffc400;
}

a {
    color: var(--white);
}

a:hover {
    color: var(--white);
    text-decoration: none;
}

.noPadding {
    padding: 0;
}

.padding15 {
    padding: 8px;
}

.marginTop25 {
    margin-top: 25px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginLeft10 {
    margin-left: 10px;
}

.customIndent {
    padding: 0 20px;
}

.pointer{
    cursor: pointer;
}

.menu {
    height: 100vh;
    background-color: var(--darkest-purple);
}

.menu > ul {
    list-style: none;
    padding: 40px 0;
}

.menu > ul > li {
    padding: 15px;
    font-size: 14px;
}

.menu > ul > li .fa {
    padding: 0 25px 0 20px;
    font-size: 18px;
}

.menu > ul > li.active, .menu > ul > li:hover {
    background-color: var(--light-purple);
}

.menu > ul > li > a {
    display: block;
    width: 100%;
    color: var(--accent-purple);
}

.menu > ul > li.active > a, .menu > ul > li:hover > a{
    color: var(--white);
}

.topLogo {
    background-color: var(--dark-purple);
    padding: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
    background-image: -webkit-linear-gradient(top, #5A5AFB 0%, #4d4dfa 100%);
}

.topLogo h3{
    margin: 0;
}

.textWhite {
    color: var(--white);
}

.notification{
    background-color: var(--red)!important;
    font-size: 10px;
    padding: 1px 6px;
    margin-top: 1px;
    border-radius: 2px;
}

.searchBox{
    background-color: var(--mid-grey);
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.35);
    height: auto;
    width: 100%;
    padding: 6px 10px;
}

.search{
    background: none;
    width: 100%;
    border: 0;
    font-size: 14px;
    padding-left: 35px;
    color: var(--grey-accent);
    outline: 0;
}

.searchBox .fa{
    position: absolute;
    padding: 4px 8px;
    color: var(--grey-accent);
}

.shadowBottom{
    -webkit-box-shadow: 0px 4px 5px 0px rgba(144,152,177,0.37);
    -moz-box-shadow: 0px 4px 5px 0px rgba(144,152,177,0.37);
    box-shadow: 0px 4px 5px 0px rgba(144,152,177,0.37);
    padding-bottom: 15px;
}

.smallNotification{
    font-size: 9px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--red);
    width: 14px;
    text-align: center;
    border-radius: 2px;
    position: absolute;
    left: 8px;
    top: -2px;
}

.fa-bell, .fa-comment{
    color: var(--grey-accent);
    font-size: 18px;
}

.topNotification{
    margin: 6px 10px 0 10px;
    position: relative;
}

.avatarImage{
    max-height: 36px;
    border-radius: 50%;
    margin-left: 20px;
}

.username{
    font-size: 13px;
    margin: 0 5px;
    color: var(--grey-accent);
}

.fa-chevron-down{
    font-size: 12px;
    color: var(--grey-accent);
}

.textAccent{
    color: var(--grey-accent);
}

.btn{
    font-size: 13px;
}

.btnPurple{
    background-color: var(--dark-purple);
    color: var(--white);
}

.btnPurple .fa{
    margin-left: 10px;
}