html, body {
    font-family: Lato, Helvetica, Arial;
}

:root {
    --darkest-blue: #151c26;
    --dark-blue: #1a212b;
    --blue: #2caccf;
    --text-header: #69839c;
    --text-green: #a4cc2d;
    --text-red: #cc433f;
    --blue-border: #343b45;
    --white-accent: #9ba0a6;
    --text-white: #fff;
    --text-grey: #e9e9eb;
    --text-blue: #33b0cc;
    --text-black: #18191d;
    --alternate-row: #f2f3f5;
    --light-grey: #f0f0f0;
}

a{
    color: var(--text-white);
}

a:hover{
    color: var(--text-blue);
    text-decoration: none;
}

.noPadding {
    padding: 0;
}

.header {
    background: var(--darkest-blue);
    color: var(--text-white);
    height: 130px;
    padding-top: 40px;
}

.header .img-fluid {
    max-height: 65px;
}

.fa-line-chart {
    font-size: 50px;
}

.blueHeaderBorder {
    border-left: 1px solid var(--blue-border);
}

.blueText {
    color: var(--text-blue);
}

.circleBorder {
    border-radius: 50%;
    padding: 14px 15px;
}

.blueBorder {
    border: 2px solid var(--blue-border);
}

.lightGreyBorder {
    border: 2px solid var(--light-grey);
}

.darkBlueBackground {
    background-color: var(--dark-blue);
}

.unBold {
    font-weight: normal;
}

.paddingtop10 {
    padding-top: 10px;
}

.paddingtop15 {
    padding-top: 15px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.resetFont {
    font-size: 14px;
    font-weight: normal;
}

.mutedHeader {
    font-size: 10px;
    margin: 8px 0 4px 0;
    font-weight: bold;
    color: var(--text-grey);
}

.borderRadius {
    border-radius: 50%;
}

.chartPlaceholder {
    width: 130%;
    overflow: hidden;
    padding: 40px 0 20px 0;
    background: var(--dark-blue);
    margin: 0 -90px;
}

.chartText {
    padding-top: 40px;
}

.searchBox {
    width: 100%;
    border: 2px solid var(--light-grey);
    padding: 10px 10px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-left: 18px;
}

.searchBox input {
    border: 0;
    background: 0;
    margin-left: 25px;
}

.marginTop25 {
    margin-top: 25px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginLeft10 {
    margin-left: 10px;
}

.tableHeader .fa {
    color: var(--white-accent);
}

.customIndent {
    padding: 0 20px;
}

.table-responsive {
    display: table;
}

.goodStatus {
    color: var(--text-green);
}

.badStatus {
    color: var(--text-red);
}

.table {
    font-size: 13px;
}

.table thead th {
    font-weight: bold !important;
    text-transform: uppercase;
    color: var(--text-header);
    letter-spacing: 1.5px;
    font-size: 12px;
}

.searchBox .fa {
    position: absolute;
    margin: 4px 0 0 3px;
}

input:focus {
    outline: 0 !important;
}

.lightGreyBorder:hover {
    background-color: var(--text-header);
    color: var(--text-white);
    cursor: pointer;
    transition: ease-in all 0.1s;
}

.pointer {
    cursor: pointer;
    user-select: none;
}

.whiteText {
    color: var(--text-white);
}

.smallerFont {
    font-size: 11px;
    vertical-align: middle;
}

.dropdown {
    display: none;
    width: 80%;
    background: var(--darkest-blue);
    position: absolute;
    z-index: 10;
    border: 1px solid #343b45;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(24, 47, 59);
    -moz-box-shadow: 0px 0px 10px 0px rgb(24, 47, 59);
    box-shadow: 0px 0px 10px 0px rgb(24, 47, 59);
}

.dropdown > ul {
    list-style: none;
    padding: 10px 10px 0 10px;
}

.dropdown > ul > li:not(:last-child) {
    border-bottom: 1px solid var(--blue-border);
    padding: 10px 0;
}

.dropdown > ul > li:not(:first-child) {
    padding: 10px 0;
}

@media only screen and (max-width: 1015px) {
    .fa-line-chart {
        font-size: 36px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 500px) {
    .table thead th {
        font-size: 10px !important;
        text-indent: 0;
        text-align: center;
    }

    .searchBox {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .chartPlaceholder {
        padding: 20px 0;
    }

    .chartText {
        padding-top: 20px;
    }
}