:root {
    --orange: #f44336;
    --green: #8bc34a;
    --blue: #2196f3;
    --white: #fff;
    --light-white: #efefef;
    --blue-grey: #607d8b;
    --purple: #3F51B5;
    --grey: #ebeff1;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--grey);
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop40 {
    margin-top: 40px;
}

.redBar {
    border-top: 5px solid var(--orange);
}

.greenBar {
    border-top: 5px solid var(--green);
}

.navbar {
    background-color: var(--blue);
}

.card {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    margin: 10px 0;
    border-radius: 4px;
    display: block;
    position: relative;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    background: var(--white);
}

.card--minHeight {
    height: 380px;
    overflow: scroll;
}

.card p.smaller {
    padding-bottom: 15px;
    margin: 15px 0 0 0;
}

.card .row:not(:last-child) p.smaller {
    border-bottom: 1px solid var(--light-white);
}

p.smaller {
    font-size: 80%;
}

.strongA {
    font-weight: bold;
    color: var(--blue-grey);
}

.table-responsive {
    display: table;
}

.card--padding {
    padding: 20px;
}

.blueBg {
    background-color: var(--purple);
    color: var(--white);
}

.table {
    font-size: 14px;
}